VPS/WhatsApp_Chatbot_OpenIA___Ao_Receber_Mensagem.json
{
  "name": "WhatsApp Chatbot OpenIA - Ao Receber Mensagem",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body}}{{ $json.messages[0].button.payload }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        220,
        0
      ],
      "id": "4984c859-8223-4f32-9f17-f8db2a07a518",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": []
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "80d2ce30-0213-425a-a4a0-2505f7f14bd9",
      "name": "OnReceiveMessage",
      "webhookId": "0af8de7c-3930-430a-8fad-48e9dd6650de",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "5ekTHBBBvuU00la2",
          "name": "Meta App | n8n-waba-chatbot (2412044225814677) | OAuth"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        260,
        220
      ],
      "id": "1566403f-4d4c-48c3-8fe6-3417c26398b8",
      "name": "OpenA-GPT-4o-Mini_n8n-Free",
      "credentials": {
        "openAiApi": {
          "id": "3kj6qDjLC3i0d3sa",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('OnReceiveMessage').item.json.contacts[0]?.wa_id || 'default_session_id' }}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        420,
        220
      ],
      "id": "8643e901-46d8-4af7-b753-42debe5a6e63",
      "name": "MemoriaDoModelAi"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "597666370093918",
        "recipientPhoneNumber": "={{ $('OnReceiveMessage').item.json.contacts[0].wa_id }}",
        "textBody": "=ola {{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        580,
        0
      ],
      "id": "001df84f-1730-4404-9d24-9d819b0278f4",
      "name": "WhatsAppApi_SendMessageTo",
      "webhookId": "bccb8bc4-d1a6-4ec5-bbd6-e09673ac4167",
      "credentials": {
        "whatsAppApi": {
          "id": "jV6uhNwZkM1dw1QM",
          "name": "Meta App | n8n-waba-chatbot (2412044225814677) | Whats Api"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "WhatsAppApi_SendMessageTo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OnReceiveMessage": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenA-GPT-4o-Mini_n8n-Free": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MemoriaDoModelAi": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "15f476b1-c211-4acf-b7c3-94a7f318cbe4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c197b8f4ffc19440e17d4b0b7a3f0dabadf1ebb656a8fe43b444223ef7a9784f"
  },
  "id": "9bDQRWMNkF6TMvlb",
  "tags": []
}